.n1_0000 {
  display: block;
  align-items: center;
}
.n1_0000 .n1_0001 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
}
.n1_0000 .n1_0001 .np1_1001 {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.n1_0000 .n1_0001 .np1_1001 .n1_1101 {
  position: relative;
}
.n1_0000 .n1_0001 .np1_1001 .n1_1102 {
  display: contents;
}
.n1_0000 .n1_0001 .np1_1001 .n1_1102 .n1_1121 {
  position: relative;
}
.n1_0000 .n1_0001 .np1_1001 .n1_1102 .n1_1122 {
  display: none;
  height: 88px;
  width: 264px;
  z-index: 3;
  position: absolute;
  border-radius: 70px 70px 30px 30px;
  border: none;
  background: #c6d3cd;
  font-family: "SemiBold", sans-serif;
  font-size: 1em;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: inherit;
  color: #0f3057;
  text-align: center;
}
.n1_0000 .n1_0001 .np2_1001 {
  position: relative;
  width: 262px;
  height: 86px;
  background: #0F3057;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px 70px 30px 30px;
}
.n1_0000 .n1_0001 .n1_1002 {
  display: flex;
  flex-grow: 0.02;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.n1_0000 .n1_0001 .n1_1002 a:focus {
  outline: none;
}
.n1_0000 .n1_0001 .n1_1002 .n1_1201 {
  display: flex;
  background-color: #c6d3cd;
  border-radius: 12px;
  border: none;
  width: 127px;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.n1_0000 .n1_0001 .n1_1002 .n1_1201:hover {
  background: #65b1b3;
  transform: translateY(-5px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.n1_0000 .n1_0001 .n1_1002 .n1_1201:active {
  background: #65b1b3;
  border-bottom: inset #65b1b3;
  border-radius: 12px;
  outline: none;
}
.n1_0000 .n1_0001 .n1_1002 .n1_1202 {
  display: flex;
  background-color: #c6d3cd;
  border-radius: 12px;
  border: none;
  width: 127px;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.n1_0000 .n1_0001 .n1_1002 .n1_1202:hover {
  background: #65b1b3;
  transform: translateY(-5px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.n1_0000 .n1_0001 .n1_1002 .n1_1202:active {
  background: #65b1b3;
  border-bottom: inset #65b1b3;
  border-radius: 12px;
  outline: none;
}
.n1_0000 .n1_0001 .n1_1002 .n1_1203 .n1_1231 {
  display: flex;
  background-color: #c6d3cd;
  border-radius: 12px;
  border: none;
  width: 127px;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.n1_0000 .n1_0001 .n1_1002 .n1_1203 .n1_1231:hover {
  background: #65b1b3;
  transform: translateY(-5px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.n1_0000 .n1_0001 .n1_1002 .n1_1203 .n1_1231:active {
  background: #65b1b3;
  border-bottom: inset #65b1b3;
  border-radius: 12px;
  outline: none;
}
.n1_0000 .n1_0001 .n1_1002 .n1_1203 .n1_1232 {
  display: none;
}
.n1_0000 .n1_0001 .n1_1002 .n1_1203 .n1_1232 .n1_1232_0001,
.n1_0000 .n1_0001 .n1_1002 .n1_1203 .n1_1232 .n1_1232_0002,
.n1_0000 .n1_0001 .n1_1002 .n1_1203 .n1_1232 .n1_1232_0003 {
  font-family: "SemiBold", sans-serif;
  font-size: 2em;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: inherit;
  color: #423C3C;
  text-align: center;
}
.n1_0000 .n1_0001 .np1_1003 {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.n1_0000 .n1_0001 .np1_1003 .n1_1301 {
  position: relative;
  display: flex;
  height: 100%;
}
.n1_0000 .n1_0001 .np1_1003 .n1_1301 .n1_1311 {
  pointer-events: none;
}
.n1_0000 .n1_0001 .np1_1003 .n1_1301:hover {
  -webkit-animation: nodge 200ms linear 2 alternate;
          animation: nodge 200ms linear 2 alternate;
}
@-webkit-keyframes nodge {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes nodge {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
.n1_0000 .n1_0001 .np1_1003 .n1_1301 .n1_1312 {
  display: none;
}
.n1_0000 .n1_0001 .np1_1003 .n1_1302 {
  position: relative;
  display: flex;
  height: 100%;
  transition: all 50ms ease-out;
}
.n1_0000 .n1_0001 .np1_1003 .n1_1302:active {
  border-bottom: groove #c6d3cd 0.3em;
}
.n1_0000 .n1_0001 .np1_1003 .n1_1302 .n1_1321:hover {
  -webkit-animation: rotate 300ms ease-in-out 2 alternate;
          animation: rotate 300ms ease-in-out 2 alternate;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
.n1_0000 .n1_0001 .np1_1003 .n1_1302 .n1_1322 {
  display: none;
}
.n1_0000 .n1_0001 .np1_1003 .n1_1303 {
  position: relative;
}
.n1_0000 .n1_0001 .np1_1003 .n1_1303 .n1_1332 {
  display: none;
}

.h2 {
  display: block;
}

.h2_0000 {
  display: block;
  padding: 1vw 10vw;
}
.h2_0000 .h2_0001 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em 1em 6em 1em;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-grid-row-align: stretch;
      align-self: stretch;
}
.h2_0000 .h2_0001 .h2_1001 {
  font-family: "SemiBold", sans-serif;
  font-size: 3em;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: inherit;
  color: #e63946;
  text-align: center;
}
.h2_0000 .h2_0002 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
}
.h2_0000 .h2_0002 .h2_2001 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row-align: stretch;
      align-self: stretch;
}
.h2_0000 .h2_0002 .h2_2002 {
  font-family: "Thin", sans-serif;
  font-size: 3em;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 0.43em;
  text-transform: inherit;
  color: #E7E7DE;
  text-align: start;
  mix-blend-mode: difference;
  margin-left: -4em;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.h2_0000 .h2_0002 .h2_2003 {
  width: 75%;
  font-family: "SemiBold", sans-serif;
  font-size: 2em;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 0.4em;
  text-transform: inherit;
  color: #423C3C;
  text-align: end;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.h2_0000 .h2_0002 .h2_2004 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 3fr 1fr;
  -ms-grid-columns: 3fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}
.h2_0000 .h2_0002 .h2_2004 .h2_2401 {
  width: auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  font-family: "SemiBold", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 0.4em;
  text-transform: inherit;
  color: #423C3C;
  text-align: end;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.h2_0000 .h2_0002 .h2_2004 .h2_2402 {
  width: auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  height: 2.5em;
}
.h2_0000 .h2_0002 .h2_2005 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 3fr 1fr;
  -ms-grid-columns: 3fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}
.h2_0000 .h2_0002 .h2_2005 .h2_2501 {
  width: auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  font-family: "SemiBold", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 0.4em;
  text-transform: inherit;
  color: #423C3C;
  text-align: end;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.h2_0000 .h2_0002 .h2_2005 .h2_2502 {
  width: auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  height: 2.5em;
}
.h2_0000 .h2_0002 .h2_2006 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: auto;
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  align-items: center;
  grid-gap: 3.3vw;
}
.h2_0000 .h2_0002 .h2_2006 > button {
  justify-content: center;
  display: flex;
  align-content: center;
  max-height: 5.2em;
  max-width: 5.2em;
  border-radius: 50%;
  padding: 0;
  border: 0;
  transition: all 1s;
  position: relative;
}
.h2_0000 .h2_0002 .h2_2006 > button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  transform: none;
}
.h2_0000 .h2_0002 .h2_2006 > button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg);
}
.h2_0000 .h2_0002 .h2_2006 > button:hover:after {
  transform: rotate(45deg);
  transition: all 1s;
}
.h2_0000 .h2_0002 .h2_2006 > button > :not(img) {
  pointer-events: auto;
}
.h2_0000 .h2_0002 .h2_2006 .h2_2601 {
  width: auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background: linear-gradient(134deg, #0a203a 50%, #0f3057 50%);
}
.h2_0000 .h2_0002 .h2_2006 .h2_2601 .h2_2611 {
  z-index: 1;
  outline: none;
  transform-origin: 0 0 0;
}
.h2_0000 .h2_0002 .h2_2006 .h2_2602 {
  width: auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background: linear-gradient(134deg, #0f3057 50%, #0a203a 50%);
  content: "";
}
.h2_0000 .h2_0002 .h2_2006 .h2_2602:hover, .h2_0000 .h2_0002 .h2_2006 .h2_2602:focus {
  outline: none;
  transform: rotate(0.5turn);
  transition: transform 1s;
}
.h2_0000 .h2_0002 .h2_2006 .h2_2602 .h2_2621:hover {
  outline: none;
  transform: rotate(-180deg);
  transition: transform 1s;
}
.h2_0000 .h2_0002 .h2_2603 {
  width: auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background: linear-gradient(134deg, #0f3057 50%, #0a203a 50%);
}
.h2_0000 .h2_0002 .h2_2603:hover, .h2_0000 .h2_0002 .h2_2603:focus {
  outline: none;
  transform: rotate(0.5turn);
  transition: transform 1s;
}
.h2_0000 .h2_0002 .h2_2603 .h2_2631:hover {
  outline: none;
  transform: rotate(-180deg);
  transition: transform 1s;
}
.h2_0000 .h2_2007 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: auto;
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}
.h2_0000 .h2_2007 .h2_2701 {
  width: 20.6em;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 5.75em;
  border-radius: 0.5em 4em 2em 0.5em;
  background-color: #0F3057;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.h2_0000 .h2_2007 .h2_2701 .h2_2711 {
  position: relative;
  width: 80%;
  padding: 0;
  margin: 0;
  border-radius: 0.5em 3em 3em 0.5em;
  background-color: white;
  display: flex;
  align-items: center;
  border: groove 1px #0F3057;
  justify-content: space-evenly;
  height: 100%;
}
.h2_0000 .h2_2007 .h2_2701 .h2_2711 .h2_2711_0001,
.h2_0000 .h2_2007 .h2_2701 .h2_2711 .h2_2711_0003 {
  width: 2.8rem;
  height: 2.8rem;
  background-color: #c6d3cd;
  border: 0;
  border-radius: 1.4rem;
  background-size: 5.6rem 2.8rem;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  color: #fff;
  cursor: pointer;
}
.h2_0000 .h2_2007 .h2_2701 .h2_2711 .h2_2711_0001:hover, .h2_0000 .h2_2007 .h2_2701 .h2_2711 .h2_2711_0001:focus,
.h2_0000 .h2_2007 .h2_2701 .h2_2711 .h2_2711_0003:hover,
.h2_0000 .h2_2007 .h2_2701 .h2_2711 .h2_2711_0003:focus {
  background: #65b1b3;
}
.h2_0000 .h2_2007 .h2_2701 .h2_2711 .h2_2711_0002 {
  font-family: "SemiBold", sans-serif;
  font-size: 2em;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-transform: inherit;
  color: #423C3C;
  text-align: center;
  overflow: hidden;
  height: 100%;
  border: none;
  width: 2em;
  border-radius: 5% 2em 2em 5%;
  background: transparent;
}
.h2_0000 .h2_2007 .h2_2701 .h2_2712 {
  height: 100%;
  width: 20%;
  padding: 0 1em 0 0.5em;
}

.f3_0000 {
  -ms-grid-row-align: end;
      align-self: end;
  display: block;
  border-top: groove;
}
.f3_0000 .f3_0001 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 3fr 1fr;
  -ms-grid-columns: 3fr 1fr;
  -ms-grid-rows: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  height: 100%;
  padding: 1em 6.25em;
}
.f3_0000 .f3_0001 .f3_1001 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1001 .f3_1101 {
  font-family: "Black", sans-serif;
  font-size: 0.75em;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #676767;
  text-align: start;
  width: 50%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1001 .f3_1102 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: normal;
      justify-self: normal;
}
.f3_0000 .f3_0001 .f3_1001 .f3_1102 .f3_1121 {
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1001 .f3_1102 .f3_1122 {
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1001 .f3_1102 .f3_1123 {
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1002 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 100%;
  width: 50%;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1002 .f3_1201 {
  font-family: "Black", sans-serif;
  font-size: 1.25em;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #676767;
  text-align: start;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1002 .f3_1202 {
  font-family: "Light", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: inherit;
  color: #617ba2;
  text-align: start;
  width: 100%;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: normal;
      justify-self: normal;
}
.f3_0000 .f3_0001 .f3_1002 .f3_1203 {
  font-family: "Light", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: inherit;
  color: #617ba2;
  text-align: start;
  width: 100%;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: normal;
      justify-self: normal;
}
.f3_0000 .f3_0001 .f3_1002 .f3_1204 {
  font-family: "Light", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: inherit;
  color: #617ba2;
  text-align: start;
  width: 100%;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: normal;
      justify-self: normal;
}
.f3_0000 .f3_0001 .f3_1002 .f3_1205 {
  font-family: "Light", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: inherit;
  color: #617ba2;
  text-align: start;
  width: 100%;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: normal;
      justify-self: normal;
}
.f3_0000 .f3_0001 .f3_1002 .f3_1206 {
  font-family: "Light", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: inherit;
  color: #617ba2;
  text-align: start;
  width: 100%;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: normal;
      justify-self: normal;
}
.f3_0000 .f3_0001 .f3_1003 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
  height: 100%;
  width: 100%;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1003 .f3_1301 {
  font-family: "Black", sans-serif;
  font-size: 1.25em;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #676767;
  text-align: start;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1003 .f3_1302 {
  font-family: "SemiBold", sans-serif;
  font-size: 2em;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: inherit;
  color: #617ba2;
  text-align: start;
  width: 100%;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: normal;
      justify-self: normal;
}
.f3_0000 .f3_0001 .f3_1004 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 2fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}
.f3_0000 .f3_0001 .f3_1004 .f3_1401 {
  font-family: "Thin", sans-serif;
  font-size: 0.75em;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: inherit;
  color: #CBBDBD;
  text-align: start;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1004 .f3_1402 {
  font-family: "Thin", sans-serif;
  font-size: 0.75em;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: inherit;
  color: #CBBDBD;
  text-align: start;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1004 .f3_1403 {
  font-family: "Thin", sans-serif;
  font-size: 0.75em;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: inherit;
  color: #CBBDBD;
  text-align: start;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1004 .f3_1404 {
  font-family: "Thin", sans-serif;
  font-size: 0.75em;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: inherit;
  color: #CBBDBD;
  text-align: start;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: start;
      justify-self: start;
}
.f3_0000 .f3_0001 .f3_1004 .f3_1405 {
  font-family: "Thin", sans-serif;
  font-size: 0.75em;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: inherit;
  color: #CBBDBD;
  text-align: center;
  width: 100%;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: center;
      justify-self: center;
}

@font-face {
  font-family: "Thin";
  src: url(scss/fonts/encode-sans/EncodeSansCondensed-Thin.eot);
  src: url(scss/fonts/encode-sans/EncodeSansCondensed-Thin.eot?#iefix) format("embedded-opentype"), url(scss/fonts/encode-sans/EncodeSansCondensed-Thin.woff2) format("woff2"), url(scss/fonts/encode-sans/EncodeSansCondensed-Thin.woff) format("woff"), url(scss/fonts/encode-sans/EncodeSansCondensed-Thin.ttf) format("truetype"), url(scss/fonts/encode-sans/EncodeSansCondensed-Thin.svg#EncodeSansCondensed-Thin) format("svg");
}
@font-face {
  font-family: "Light";
  src: url(scss/fonts/encode-sans/EncodeSansSemiCondensed-Light.eot);
  src: url(scss/fonts/encode-sans/EncodeSansSemiCondensed-Light.eot?#iefix) format("embedded-opentype"), url(scss/fonts/encode-sans/EncodeSansSemiCondensed-Light.woff2) format("woff2"), url(scss/fonts/encode-sans/EncodeSansSemiCondensed-Light.woff) format("woff"), url(scss/fonts/encode-sans/EncodeSansSemiCondensed-Light.ttf) format("truetype"), url(scss/fonts/encode-sans/EncodeSansSemiCondensed-Light.svg#EncodeSansSemiCondensed-Light) format("svg");
}
@font-face {
  font-family: "SemiBold";
  src: url(scss/fonts/encode-sans/EncodeSansCondensed-SemiBold.eot);
  src: url(scss/fonts/encode-sans/EncodeSansCondensed-SemiBold.eot?#iefix) format("embedded-opentype"), url(scss/fonts/encode-sans/EncodeSansCondensed-SemiBold.woff2) format("woff2"), url(scss/fonts/encode-sans/EncodeSansCondensed-SemiBold.woff) format("woff"), url(scss/fonts/encode-sans/EncodeSansCondensed-SemiBold.ttf) format("truetype"), url(scss/fonts/encode-sans/EncodeSansCondensed-SemiBold.svg#EncodeSansCondensed-SemiBold) format("svg");
}
@font-face {
  font-family: "Black";
  src: url(scss/fonts/encode-sans/EncodeSansCondensed-Black.eot);
  src: url(scss/fonts/encode-sans/EncodeSansCondensed-Black.eot?#iefix) format("embedded-opentype"), url(scss/fonts/encode-sans/EncodeSansCondensed-Black.woff2) format("woff2"), url(scss/fonts/encode-sans/EncodeSansCondensed-Black.woff) format("woff"), url(scss/fonts/encode-sans/EncodeSansCondensed-Black.ttf) format("truetype"), url(scss/fonts/encode-sans/EncodeSansCondensed-Black.svg#EncodeSansCondensed-Black) format("svg");
}
html {
  --maxWidth: 1600px;
  --gap: 3rem;
  background-color: #E7E7DE;
}
html *,
html ::after,
html ::before {
  box-sizing: border-box;
}

body {
  background-color: #E7E7DE;
  margin: auto;
  display: -ms-grid;
  display: grid;
  position: relative;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}

.f3_0000 {
  background-image: url(../img/footer/wave.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100% 100%;
}
/*# sourceMappingURL=style.css.map */
